# Python
__pycache__/
*.pyc

# Virtual env
.env/
venv/
.env

# Secrets
secretkey.py

# OS files
.DS_Store

# Pipenv files (optional to ignore lock)
Pipfile.lock

# Alembic SQLite DB files (if any)
*.sqlite3
